.testimonial {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
padding: 8vw 4vw;  position: relative;
  
}

.testimonial-text {
  font-size: 1.2em;
  line-height: 1.6;
  color: #333;
  margin-bottom: 40px;
}

.testimonial-author {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  text-align: right;
}

/* Swiper pagination dots */
.swiper-pagination-bullets {
  bottom: 20px !important;
}

.swiper-pagination-bullet {
  background: #000 !important;
  opacity: 0.4;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}
